<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    {{ $isHomePage := eq .Title .Site.Title }}
    <title>
        {{ if eq $isHomePage false }}
            {{ .Title }} - {{ .Site.Title }}
        {{ else }}
            {{ .Site.Params.longTitle }}
        {{ end }}
    </title>
    
    <meta name='description' content="{{ if eq $isHomePage true }}{{ .Site.Params.metaDescription }}{{ end }}">
    <link rel='canonical' href="{{ .Permalink }}">
    <link rel="stylesheet" href="/assets/css/screen.css">
</head>
<body>